# AWS ERROR - The configuration file __MACOSX/.ebextensions/._01_packages.config in application version vehicleinfo.org-source-9 contains invalid YAML or JSON.
# This is because MACOS includes some extra hidden folders which you need to exclude from your ZIP file. To do this, run this command in terminal on your zip:
# $ zip -d Archive.zip __MACOSX/\*
packages: 
  yum:
    python3-devel: []
    mariadb-devel: []