{% extends "layout.html" %}
{% block content %}
<style>
  @media screen and (max-width: 576px) {
    #objgoal {
      flex-wrap:wrap !important;
    }
    #zain {
      margin-top:0px !important;
    }
  }
  .card-extended {
    /* Used to make the tables be the same height regardless of content */
    min-height:100%
    /* padding-bottom:10px; !important */
  }
  .info-title {
    font-size:1.1rem;
    font-weight:bold;
    padding-top: 1rem;
    margin-bottom:0px;
    word-wrap: normal;
    text-align: center;
  }
  .info-desc {
    word-wrap: normal;
    padding: 0rem 1rem;
    font-size:.9rem;
    text-align:left;
  }
  .info-name {
    word-wrap: normal;
    padding-top: 0rem;
    padding-bottom:1rem;
    font-size:.9rem;
    text-align:center;
    margin-bottom:0rem;
  }
  .info-head {
    font-size:1.1rem;
    font-weight:bold;
    padding-top: 0rem;
    padding-bottom:0rem;
    margin-bottom:0px;
    word-wrap: normal;
    text-align: center;
  }
  .url-info {
    word-wrap: normal;
    padding-top: 1rem;
    padding-bottom:0rem;
    font-size:.9rem;
    text-align:center;
    margin-bottom:0rem;
  }
  .img-json {
    max-width:70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom:10px;
  }
  .api-ex {
    font-size:.8rem;
    text-align:center;
  }
  .card .content {
    padding: 15px 15px 0px 15px;
  }
</style>

<div class="container-fluid">

  <!-- ROW -->
  <div class="row" style="">

    <div class="col-md-3">
      <div id="zain" class="card" style="margin-top:40px;">
          <div class="content">
            <p class="info-head">Founder & Developer:</p>
            <hr style="margin-top:5px;">
            <img src="{{ url_for('static', filename='img/zain.png') }}" >
            <hr>
            <a href="https://zainshafique.com" style="color:black;" target="_blank"><p class="info-name"><strong>Zain Shafique</strong></p></a>
          </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="content">
          <p class="info-head">About Me!</p>
          <hr style="margin-top:5px;">
          <p class="info-desc">Hello there, thanks for checking out my project! My name is Zain Shafique, and I am the founder and creator of <strong>vehicleinfo.org</strong> (also known as the Vehicle Information Project).</p>
          <p class="info-desc">I am currently a fourth year student at the University of California, Santa Cruz where I study computer science. Motivation for this project came from the fact that I am a HUGE car enthusiast, and me trying to find accessible APIs online that would allow me to access information about cars.<p>
          <p class="info-desc">Searching online gave me no results for open source or public APIs offering vehicle data, as most of them had been commercialized and only available B2B. I found a need, and decided to develop this web application. I spent a few days aggregating the data and storing it in CSV files that I eventually pushed to a database. Following this, I built out a Python app to serve the data through a web interface and an API. This project will always be public and open source, and I will continue to add to it. If anyone is interested in contributing, the source code is published via GitHub and I am always happy to help get you set up!</p>

        </div>
      </div>

    </div>

  </div>
  <!-- ROW -->

</div>
{% endblock content %}
