{% extends "layout.html" %}
{% block content %}
<main class="page pricing-table-page">

  <!-- Section 1 -->
  <section class="clean-block clean-pricing dark" style="padding-bottom: 10px;">
    <div class="container">
      <div class="pulse animated block-heading" style="padding-top: 50px;">
        <h2 class="text-info">The vehicleinfo.org API</h2>
        <p>This project exposes a public API endpoint that can be used to get data on any vehicle(s) a client may need. Implementing the API is as simple as making an HTTP request to:</p>
        <p style="padding-top: 5px;padding-bottom: 5px;"><strong>https://vehicleinfo.org/api/</strong></p>
        <p>and specifying the resource you would like.</p>
      </div>
    </div>
  </section>
  <!-- Section 1 -->

  <!-- Section 2 -->
  <section class="clean-block clean-pricing" style="padding-top: 50px; padding-bottom:0px;">
    <div class="container">
      <div class="row justify-content-center">
        <!-- ROUTE 1 -->
        <div class="col-md-5 col-lg-4" style="padding-bottom: 25px;">
          <div class="clean-pricing-item">
            <div class="heading">
              <h4><strong>GET /year</strong></h4>
            </div>
            <p>The first route accepts&nbsp;<strong>GET</strong>&nbsp;requests for a specific year within range, and the returns a JSON response of every vehicle for that year, including its individual attributes.</p>
            <p><strong>Try this route by pressing this link</strong></p>
            <a target="_blank" href="https://www.vehicleinfo.org/api/2002/"><p>vehicleinfo.org/api/2002/</p></a>
          </div>
        </div>
        <!-- ROUTE 2 -->
        <div class="col-md-5 col-lg-4" style="padding-bottom: 25px;">
          <div class="clean-pricing-item">
            <div class="heading">
              <h4><strong>GET /year/make</strong></h4>
            </div>
            <p>The second route for the API accepts&nbsp;<strong>GET</strong>&nbsp;requests for a specific year and make, and returns a JSON response of all vehicles produced by that manufacturer in that year.</p>
            <p><strong>Try this route by pressing this link</strong></p>
            <a target="_blank "href="https://www.vehicleinfo.org/api/2002/acura"><p>vehicleinfo.org/api/2002/acura</p></a>
          </div>
        </div>
        <!-- ROUTE 3 -->
        <div class="col-md-5 col-lg-4" style="padding-bottom: 25px;">
          <div class="clean-pricing-item">
            <div class="heading">
              <h4><strong>GET /year/make/model</strong></h4>
            </div>
            <p>The final route accepts&nbsp;<strong>GET</strong>&nbsp;requests for a specific year, make, and model resulting in a JSON response of the attributes for that specific vehicle.</p>
            <p><strong>Try this route by pressing this link</strong></p>
            <a target="_blank" href="https://www.vehicleinfo.org/api/2002/acura/tl"><p>vehicleinfo.org/api/2002/acura/tl</p></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Section 2 -->

  <!-- Section 1 -->
  <section class="clean-block clean-pricing dark" style="padding-bottom: 25px;">
    <div class="container">
      <div class="block-heading" style="padding-top: 50px;">
        <p><strong>PLEASE NOTE:</strong> </p>
        <p>The web server can only handle a certain number of requests at any given time, so <i>sometimes</i> a valid request may return an empty result. While I work to increase reliability, if this occurs, please wait a few seconds and try your request again.</p>
      </div>
    </div>
  </section>
  <!-- Section 1 -->

</main>
{% endblock content %}
