{% extends "layout.html" %}
{% block content %}
<style>
  @media screen and (max-width: 790px) {
    #objgoal {
      flex-wrap:wrap !important;
    }
  }
  .card-extended {
    min-height:100%
    /* padding-bottom:10px; !important */
  }
  .info-title {
    font-size:1.2rem;
    font-weight:bold;
    padding-top: 1rem;
    margin-bottom:0px;
    word-wrap: normal;
    text-align: center;
  }
  .info-desc {
    word-wrap: normal;
    padding: 0rem 1rem;
    font-size:.9rem;
    text-align:center;
  }
  .img-json {
    max-width:70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom:10px;
  }
  .api-ex {
    font-size:.8rem;
    text-align:center;
  }
</style>
<div class="container-fluid">

  <!-- BEGIN ROW 1 ! -->
  <div class="row">
    <div class="col-md-12" style="padding:5px;">
      <div class="card">
        <p class="info-title">API Basics</p>
        <hr>
        <p class="info-desc">In addition to offering a vehicle report web service, this project exposes a public API endpoint that you can use to get data on any vehicle(s) for whatever project you’re working on. Implementing the API is as simple as making an HTTP request to:</p>
          <p class="info-desc"><strong>https://vehicleinfo.org/api/</strong></p>
          <p class="info-desc">and specifying the resource(s) you would like!</p>
      </div>
    </div>
  </div>
  <!-- END ROW 1 ! -->

  <!-- BEGIN ROW 2 ! -->
  <div id="objgoal" class="row" style="flex-wrap:nowrap;">

    <div class="col-md-4" style="padding:5px">
      <div class="card card-extended">
        <p class="info-title">GET /year</p>
        <hr>
        <p class="info-desc">A client can make a <strong>GET</strong> request for a specific year within range, and the server will return a JSON response of every vehicle for that year, including its individual attributes. Here is an example request:</p>
        <p class="api-ex"><strong>https://vehicleinfo.org/api/2002</strong></p>
        <p class="info-desc">The JSON response would yield:</p>
        <div class="img-json" style="padding-top:2.3rem;">
          <img src="{{ url_for('static', filename='img/GET2002.svg') }}">
        </div>
      </div>
    </div>

    <div class="co-md-4" style="padding:5px">
      <div class="card card-extended">
        <p class="info-title">GET /year/make/</p>
        <hr>
        <p class="info-desc">Next, a client can make a <strong>GET</strong> request for a specific year and make, and the server will return JSON response of a list of all vehicles produced by a manufacturer in that year. Here is another example request:</p>
        <p class="api-ex"><strong>https://vehicleinfo.org/api/2002/acura</strong></p>
        <p class="info-desc">The JSON response would yield:</p>
        <div class="img-json" style="padding-top:1.8em">
          <img src="{{ url_for('static', filename='img/GETACURA.svg') }}">
        </div>
      </div>
    </div>

    <div class="co-md-4" style="padding:5px">
      <div class="card card-extended">
        <p class="info-title">GET /year/make/model</p>
        <hr>
        <p class="info-desc">Finally, a client can make a <strong>GET</strong> request for a specific year, make, and model resulting in a JSON response of the attributes for that specific vehicle. Here is an additional example request:</p>
        <p class="api-ex"><strong>https://vehicleinfo.org/api/2002/acura/tl</strong></p>
        <p class="info-desc">The JSON response would yield:</p>
        <div class="img-json" style="">
          <img src="{{ url_for('static', filename='img/GETTL.svg') }}">
        </div>
      </div>
    </div>

  </div>
  <!-- END ROW 2 ! -->


</div>
{% endblock content %}
