{% extends "layout.html" %}
{% block content %}
<main class="page">
  <!-- SECTION 1 -->
  <section class="clean-block features dark" style="padding-bottom: 10px;">
    <div class="container">
      <div class="pulse animated block-heading" style="padding-top: 50px;">
        <h2 class="text-info">Change Log and Versioning</h2>
        <p>All updates and changes that are pushed to production are reviewed and logged here under their respective table.</p>
      </div>
    </div>
  </section>
  <!-- SECTION 2 -->
  <section class="clean-block features" style="padding-top: 50px;">
    <div class="container">
      <div class="row justify-content-center">
        <!-- INTERFACE UPDATES -->
        <div class="col-sm-12 col-md-8 col-lg-6 feature-box" style="padding-left: 20px;">
          <h4>Vehicle Report Interface</h4>
          <p>Log of all updates to the vehicle report web interface</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>VERSION</th>
                  <th>CHANGE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01-02-2020</td>
                  <td>1.0</td>
                  <td>Initial version, webpage accepts year, make, and model and <br>returns a report with info including an image, available body styles, <br>available trims, recalls, and consumer complaints</td>
                </tr>
                <tr>
                  <td>01-08-2020</td>
                  <td>2.0</td>
                  <td>Designed and deployed a whole new UI. <a href="https://github.com/zshafiqu/vehicleinfo.org/pull/2" target="_blank">See pull request here!</a></td>
                </tr>
                <tr>
                  <td>03-24-2020</td>
                  <td>2.2</td>
                  <td>There was an issue where the search form made it difficult to get a report on cars where the name is ambiguous, or not well defined, such as ‘BMW 3-series’ or ‘Lexus ES’. Because of this, the web report interface’s search form was swapped out for a select option. <br><br> I utilized the <i>fetch()</i> API to grab the updated lists, and they are asynchronously rendered as you change your selections.</td>
                </tr>
                <tr>
                  <td>03-24-2020</td>
                  <td>2.2.1</td>
                  <td>The data tables on the report now have pages! Instead of getting a list of 100 items, you now see five at a time.<br><br> Also fixed a server issue while I was in there. The DB provider [clearDB], has a non-adjustable server timeout configuration. To mitigate dropping connections, we now ping the server between requests.<a href="https://github.com/zshafiqu/vehicleinfo.org/pull/14" target="_blank"> See pull request here.</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- API UPDATES -->
        <div class="col-sm-12 col-md-8 col-lg-6 feature-box" style="padding-left: 20px;">
          <h4>API Endpoint</h4>
          <p>Log of all updates to the vehicleinfo.org API endpoint</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>VERSION</th>
                  <th>CHANGE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01-02-2020</td>
                  <td>1.0</td>
                  <td>Initial version, the API has three routes; <strong>GET /year</strong>, <strong>GET /year/make</strong>, and <strong>GET /year/make/model</strong>. All responses are returned in JSON format.</td>
                </tr>
                <td>03-21-2020</td>
                <td>2.1</td>
                <td>Resolved an issue where certain interfaces such as the commandline redirect HTTP requests because of trailing slashes. <br> <br> <b>Remedy:</b> Use non-trailing slashes on all application routes, and set application property for strict slashes to false in order to allow both request types to be processed.</td>
              </tbody>
            </table>
          </div>
        </div>
        <!-- END API UPDATES -->
      </div>
    </div>
  </section>
</main>
{% endblock content %}
