
{% extends "layout.html" %}
{% block dashboard %}
<!-- BEGIN CONTENT -->
<div class="content">
  <div class="container-fluid">
    <!-- BEGIN ROW 1 -->
    <div class="row">
      <!-- Begin Image Card -->
      <div class="col-md-8">
          <div class="card">
              <div class="header">
                  <h4 class="title">{{recalls['Results'][0]['ModelYear']}} {{recalls['Results'][0]['Make']}} {{recalls['Results'][0]['Model']}}</h4>
                  <p class="category">SIZE</p>
              </div>
              <div class="content" style="padding-bottom:25px;">
                <img src="{{imagesrc}}" style="max-width: 50%; max-height: 50%; margin: auto; display:block;">
              </div>
          </div>
      </div>
      <!-- End Image Card -->
      <!-- Begin Basic Info Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="header">
            <h4 class="title">Basic Information for the {{recalls['Results'][0]['ModelYear']}} {{recalls['Results'][0]['Make']}} {{recalls['Results'][0]['Model']}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <tbody>
                <tr class="ng-star-inserted">
                  <td class="ng-star-inserted"><b>FIELD 1:</b></td>
                  <td class="ng-star-inserted">Up to X city / Y highway</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Basic Info Card -->
    </div>
    <!-- END ROW 1 -->
    <!-- BEGIN ROW 2 -->
    <div class="row">
      <!-- BEGIN RECALL HISTORY CARD -->
      <div class="col-md-4">
        <div class="card">
          <div class="header">
            <h4 class="title">Recall history for the {{recalls['Results'][0]['ModelYear']}} {{recalls['Results'][0]['Make']}} {{recalls['Results'][0]['Model']}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="ng-star-inserted">Recall Number</th>
                  <th class="ng-star-inserted">Component</th>
                  <th class="ng-star-inserted">Consequence</th>
                </tr>
              </thead>
              <tbody>
                {% for recall in recalls['Results'] %}
                  <tr class="ng-star-inserted">
                    <td class="ng-star-inserted" style="font-size: 10px;"><b>{{ recall['NHTSACampaignNumber'] }}</b></td>
                    <td class="ng-star-inserted" style="font-size: 10px;"><b>{{ recall['Component'] }}</b></td>
                    <td class="ng-star-inserted" style="font-size: 10px;"><b>{{ recall['Conequence'] }}</b></td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END RECALL HISTORY CARD -->
      <!-- BEGIN Description Card -->
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">An Expert Review</h4>
            <p class="category">More information here</p>
          </div>
          <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
      <!-- END Description Card-->
    </div>
    <!-- END ROW 2 -->
    <!-- Begin row 3 -->
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="card">
          <lbd-chart>
            <div class="card">
              <div class="header">
                <h4 class="title">NASDAQ: AAPL</h4>
                <p class="category">Line Chart with Points</p>
              </div>
              <div class="content">
                <div id="lbd-chart-2" class="ct-chart ">
                  <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="260px" class="ct-chart-line" style="width: 100%; height: 260px;">
                    <g class="ct-grids">
                      <line x1="50" x2="50" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="87" x2="87" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="124" x2="124" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="161" x2="161" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="198" x2="198" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="235" x2="235" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="272" x2="272" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="309" x2="309" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="346" x2="346" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line x1="383" x2="383" y1="15" y2="225" class="ct-grid ct-horizontal"></line>
                      <line y1="225" y2="225" x1="50" x2="420" class="ct-grid ct-vertical"></line>
                      <line y1="183" y2="183" x1="50" x2="420" class="ct-grid ct-vertical"></line>
                      <line y1="141" y2="141" x1="50" x2="420" class="ct-grid ct-vertical"></line>
                      <line y1="99" y2="99" x1="50" x2="420" class="ct-grid ct-vertical"></line>
                      <line y1="57" y2="57" x1="50" x2="420" class="ct-grid ct-vertical"></line>
                      <line y1="15" y2="15" x1="50" x2="420" class="ct-grid ct-vertical"></line>
                    </g>
                    <g>
                      <g class="ct-series ct-series-a">
                        <path d="M50,187.704L87,166.368L124,153.97L161,137.758L198,120.487L235,90.214L272,120.487L309,87.038L346,52.8L383,44.854" class="ct-line ct-green"></path>
                        <line x1="50" y1="187.704" x2="50.01" y2="187.704" class="ct-point ct-green" ct:value="22.2"></line>
                        <line x1="87" y1="166.368" x2="87.01" y2="166.368" class="ct-point ct-green" ct:value="34.9"></line>
                        <line x1="124" y1="153.96959999999999" x2="124.01" y2="153.96959999999999" class="ct-point ct-green" ct:value="42.28"></line>
                        <line x1="161" y1="137.75760000000002" x2="161.01" y2="137.75760000000002" class="ct-point ct-green" ct:value="51.93"></line>
                        <line x1="198" y1="120.4872" x2="198.01" y2="120.4872" class="ct-point ct-green" ct:value="62.21"></line>
                        <line x1="235" y1="90.21360000000001" x2="235.01" y2="90.21360000000001" class="ct-point ct-green" ct:value="80.23"></line>
                        <line x1="272" y1="120.4872" x2="272.01" y2="120.4872" class="ct-point ct-green" ct:value="62.21"></line>
                        <line x1="309" y1="87.0384" x2="309.01" y2="87.0384" class="ct-point ct-green" ct:value="82.12"></line>
                        <line x1="346" y1="52.80000000000001" x2="346.01" y2="52.80000000000001" class="ct-point ct-green" ct:value="102.5"></line>
                        <line x1="383" y1="44.8536" x2="383.01" y2="44.8536" class="ct-point ct-green" ct:value="107.23"></line>
                      </g>
                    </g>
                    <g class="ct-labels">
                      <foreignObject style="overflow: visible;" x="50" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'07</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="87" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'08</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="124" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'09</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="161" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'10</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="198" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'11</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="235" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'12</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="272" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'13</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="309" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'14</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="346" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;">'15</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" x="383" y="230" width="37" height="20">
                        <span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 37px; height: 20px;"></span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" y="183" x="10" height="42" width="30">
                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 42px; width: 30px;">$0</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" y="141" x="10" height="42" width="30">
                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 42px; width: 30px;">$25</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" y="99" x="10" height="42" width="30">
                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 42px; width: 30px;">$50</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" y="57" x="10" height="42" width="30">
                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 42px; width: 30px;">$75</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" y="15" x="10" height="42" width="30">
                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 42px; width: 30px;">$100</span>
                      </foreignObject>
                      <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30">
                        <span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">$125</span>
                      </foreignObject>
                    </g>
                  </svg>
                </div>
                <div class="footer">
                  <div class="legend"><!---->
                  </div><!---->
                  <div class="stats">
                    <i></i>
                  </div>
                </div>
              </div>
            </div>
          </lbd-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT -->
{% endblock dashboard %}
