{% extends "layout.html" %}
{% block content %}
<main class="page pricing-table-page">
  <main class="page contact-us-page">
      <section class="clean-block clean-form dark" style="padding-bottom: 10px;">
          <div class="container">
              <div class="pulse animated block-heading" style="padding-top: 250px;padding-bottom: 350px;">
                  <h2 class="text-info"><strong>SORRY!</strong></h2>
                  <h2 class="text-info">Page Not Found</h2>
                  <p>The page you requested could not be found.</p>
                  <p>This could be due to an internal server error, or the page you requested does not exist.</p>
                  <p><strong>Please try again later!</strong></p>
              </div>
          </div>
      </section>
  </main>
{% endblock content %}
