{% extends "layout.html" %}
{% block dashboard %}
<!-- BEGIN CONTENT -->
<div class="content">
  <div class="container-fluid">
    <!-- BEGIN ROW 1 -->
    <div class="row">
      <!-- BEGIN Description Card -->
      <div class="col-md-8 col-md-offset-2"">
        <div class="card">
          <div class="header">
            <h2 class="title">Welcome to Tell Me About This Car!</h2>
            <p class="category">More information here</p>
          </div>
          <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
      <!-- END Description Card-->
    </div>
    <!-- END ROW 1 -->
  </div>
</div>
<!-- END CONTENT -->
{% endblock dashboard %}
