{% extends "layout.html" %}
{% block content %}
<style>
  .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-md-12" style="">
                          <img src="https://image.flaticon.com/icons/svg/741/741407.svg">
                    </div>
                </div>

                <div>
                    <hr style="margin:0rem;">
                    <div style="padding:0.35rem;">
                    </div>
                </div>

            </div>
        </div>
    </div>

  </div>
</div>

{% endblock content %}
