<!DOCTYPE html>
<!-- Utilizing JINJA template engine -->
<html lang="en">
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8">
    <title>Tell Me About This Car</title>
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
    <!-- Import Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Roboto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}">
  </head>
  <!-- END HEAD -->
  <body>
    <!-- Exterior Wrapper -->
    <div class="wrapper">
      <!-- Main Panel -->
      <div class="main-panel" style="min-width: 100%">



        <!-- BEGIN NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Vehicle Report</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-dashboard"></i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                          </a>
                        </li>
                        <li>
                         <a href="">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->



        <!-- BEGIN DASHBOARD CONTENT -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">2009 Honda Accord</h4>
                                <p class="category">Mid-size car</p>
                            </div>
                            <div class="content">
                              <img src="https://st.motortrend.com/uploads/sites/10/2015/11/2009-honda-accord-sedan-exl-5-speed-auto-angular-front.png" style="max-width: 50%; max-height: 50%; margin: auto; display:block;">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card">
                      <div class="header"><h4 class="title">Basic Information for the 2009 Honda Accord</h4></div>
                      <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                          <tbody><!---->
                            <tr class="ng-star-inserted"><!---->
                              <td class="ng-star-inserted"><b>MPG:</b></td>
                              <td class="ng-star-inserted">Up to 22 city / 31 highway</td>
                            </tr>
                            <tr class="ng-star-inserted"><!---->
                              <td class="ng-star-inserted"><b>Fuel Tank Size:</b></td>
                              <td class="ng-star-inserted">18.5 gallon</td>
                            </tr>
                            <tr class="ng-star-inserted"><!---->
                              <td class="ng-star-inserted"><b>Horsepower:</b></td>
                              <td class="ng-star-inserted">177 hp to 271 hp</td>
                            </tr><tr class="ng-star-inserted"><!---->
                              <td class="ng-star-inserted"><b>Wheel Size(s):</b></td>
                              <td class="ng-star-inserted">16-18″ diameter, 6.5-8″ width</td>
                            </tr><tr class="ng-star-inserted"><!---->
                              <td class="ng-star-inserted"><b>Engine Size(s):</b></td>
                              <td class="ng-star-inserted">2.4 L 4-cylinder, 3.5 L V6</td>
                            </tr><tr class="ng-star-inserted"><!---->
                              <td class="ng-star-inserted"><b>Body Style(s):</b></td>
                              <td class="ng-star-inserted">Sedan and Coupe</td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                    <div class="header"><h4 class="title">Recall history for the 2009 Honda Accord</h4></div>
                    <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                        <thead><tr><!---->
                          <th class="ng-star-inserted">Recall Number</th>
                          <th class="ng-star-inserted">Recall Date</th>
                          <th class="ng-star-inserted">Component</th>
                          </tr>
                        </thead>
                        <tbody><!---->
                          <tr class="ng-star-inserted"><!---->
                            <td class="ng-star-inserted"><b>17V545000</b></td>
                            <td class="ng-star-inserted"><b>08/31/2017</b></td>
                            <td class="ng-star-inserted"><b>AIR BAGS:PASSENGER SIDE FRONTAL</b></td>
                          </tr>
                          <tr class="ng-star-inserted"><!---->
                            <td class="ng-star-inserted"><b>18V268000</b></td>
                            <td class="ng-star-inserted"><b>04/26/2018</b></td>
                            <td class="ng-star-inserted"><b>AIR BAGS:PASSENGER SIDE FRONTAL</b></td>
                          </tr>
                          <tr class="ng-star-inserted"><!---->
                            <td class="ng-star-inserted"><b>18V042000</b></td>
                            <td class="ng-star-inserted"><b>01/09/2018</b></td>
                            <td class="ng-star-inserted"><b>AIR BAGS:PASSENGER SIDE FRONTAL</b></td>
                          </tr>
                          <tr class="ng-star-inserted"><!---->
                            <td class="ng-star-inserted"><b>11V395000</b></td>
                            <td class="ng-star-inserted"><b>08/04/2011</b></td>
                            <td class="ng-star-inserted"><b>POWER TRAIN:AUTOMATIC TRANSMISSION:CONTROL MODULE (TCM, PCM)</b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                    <!-- <div class="card"> -->
                      <!-- <div class="header">
                        <h4 class="title">Description about product</h4>
                        <p class="category">More information here</p>
                      </div>
                      <div class="content">
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                        <p>The first thing you notice when you hold the phone is how great it feels in your hand. There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one continuous surface.</p>
                      </div> -->
                    <!-- </div> -->
                  </div>
                  <div class="col-md-8">
                    <div class="card">
                      <div class="header">
                        <h4 class="title">Description about product</h4>
                        <p class="category">More information here</p>
                      </div>
                      <div class="content">
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                        <p>The first thing you notice when you hold the phone is how great it feels in your hand. There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one continuous surface.</p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
        <!-- END DASHBOARD CONTENT -->



        <!-- BEGIN FOOTER -->
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
        <!-- END FOOTER -->



      </div>
    </div>
  </body>


  <!-- SCRIPTS! -->
  <script src="{{url_for('static', filename='js/jquery.3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/chartist.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-notify.js')}}"></script>
  <script src="{{url_for('static', filename='js/light-bootstrap-dashboard.js')}}"></script>
  <!-- SCRIPTS! -->

</html>
