
{% extends "layout.html" %}
{% block dashboard %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">2009 Honda Accord</h4>
                        <p class="category">Mid-size car</p>
                    </div>
                    <div class="content">
                      <img src="https://st.motortrend.com/uploads/sites/10/2015/11/2009-honda-accord-sedan-exl-5-speed-auto-angular-front.png" style="max-width: 50%; max-height: 50%; margin: auto; display:block;">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
              <div class="card">
              <div class="header"><h4 class="title">Basic Information for the 2009 Honda Accord</h4></div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <tbody><!---->
                    <tr class="ng-star-inserted"><!---->
                      <td class="ng-star-inserted"><b>MPG:</b></td>
                      <td class="ng-star-inserted">Up to 22 city / 31 highway</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-4">
            <div class="card">
            <div class="header"><h4 class="title">Recall history for the 2009 Honda Accord</h4></div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead><tr><!---->
                  <th class="ng-star-inserted">Recall Number</th>
                  <th class="ng-star-inserted">Recall Date</th>
                  <th class="ng-star-inserted">Component</th>
                  </tr>
                </thead>
                <tbody><!---->
                  <tr class="ng-star-inserted"><!---->
                    <td class="ng-star-inserted"><b>17V545000</b></td>
                    <td class="ng-star-inserted"><b>08/31/2017</b></td>
                    <td class="ng-star-inserted"><b>AIR BAGS:PASSENGER SIDE FRONTAL</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            <!-- <div class="card"> -->
              <!-- <div class="header">
                <h4 class="title">Description about product</h4>
                <p class="category">More information here</p>
              </div>
              <div class="content">
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                <p>The first thing you notice when you hold the phone is how great it feels in your hand. There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one continuous surface.</p>
              </div> -->
            <!-- </div> -->
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h4 class="title">Description about product</h4>
                <p class="category">More information here</p>
              </div>
              <div class="content">
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                <p>The first thing you notice when you hold the phone is how great it feels in your hand. There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one continuous surface.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock dashboard %}
