<!DOCTYPE html>
<!-- Utilizing JINJA template engine -->
<html lang="en">
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='img/car-1.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>VehicleInfo.org</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paper-dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panels.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}"> -->
    <!-- Import Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <!-- END HEAD -->

  <body>
    <!-- BEGIN OUTER WRAPPER -->
    <div class="wrapper">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar" data-color="brown" data-active-color="danger">
        <!-- change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
        <div class="logo">
          <a href="" class="simple-text logo-mini">
            <div class="logo-image-small">
              <img src="{{ url_for('static', filename='img/car.png') }}">
            </div>
          </a>
          <a href="/" class="simple-text logo-normal">VehicleInfo.org</a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li {% if page == 'index' %}class="active"{% endif %}><a href="/"><i class="nc-icon nc-bank"></i><p>Home</p></a></li>
            <li {% if page == 'report' %}class="active"{% endif %}><a href="/report"><i class="nc-icon nc-align-center"></i><p>Vehicle Report</p></a></li>
            <li {% if page == 'api' %}class="active"{% endif %}><a href="/api"><i class="nc-icon nc-atom"></i><p>Open Source API</p></a></li>
            <li {% if page == 'versions' %}class="active"{% endif %}><a href="/versions"><i class="nc-icon nc-bell-55"></i><p>Versions</p></a></li>
            <li {% if page == 'about' %}class="active"{% endif %}><a href="about"><i class="nc-icon nc-badge"></i><p>About</p></a></li>
          </ul>
        </div>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN MAIN PANEL -->
      <div class="main-panel">
        <!-- BEGIN NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="">Vehicle Report</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <form style="display:none;">
                <div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="nc-icon nc-zoom-split"></i>
                    </div>
                  </div>
                </div>
              </form>
              <ul class="navbar-nav">
              </ul>
            </div>
          </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- BEGIN CONTENT -->
        <div class="content">
          <!-- <div class="container-fluid"> -->
            {% block content %} {% endblock %}
          <!-- </div> -->
        </div>
        <!-- END CONTENT -->

        <!-- BEGIN FOOTER -->
        <footer class="footer">
          <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                  <li><a href="">GitHub</a></li>
                  <li><a href="">Portfolio</a></li>
                  <li><a href="">LinkedIn</a></li>
                </ul>
            </nav>
          </div>
        </footer>
        <!-- END FOOTER -->
      </div>
      <!-- END MAIN PANEL -->
    </div>
    <!-- END OUTER WRAPPER -->

  <!-- SCRIPTS! -->
  <script src="{{url_for('static', filename='js/core/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/core/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/plugins/chartjs.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/plugins/bootstrap-notify.js')}}"></script>
  <script src="{{url_for('static', filename='js/paper-dashboard.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-table.js')}}"></script>
  <script>
  </script>
  <!-- SCRIPTS! -->
</body>

</html>
