<!DOCTYPE html>
<!-- Utilizing JINJA template engine -->
<html lang="en">
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Tell Me About This Car</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width" />
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
    <!-- Import Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Roboto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}">
  </head>
  <!-- END HEAD -->
  <body>
    <!-- Exterior Wrapper -->
    <div class="wrapper">
      <!-- Main Panel -->
      <div class="main-panel" style="min-width: 100%">
        <!-- BEGIN NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Home -->
                    <a class="navbar-brand" href="/">Vehicle Report</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                          <div style="padding: 10px 15px; margin: 10px 3px; position: relative;">
                            <i class="fa fa-search"></i>
                            <p class="hidden-lg hidden-md">Search</p>
                          </div>
                        </li>
                        <li>
                          <form class="navbar-form" role="search" method="post" action="/handleRequest">
                            <div class="input-group">
                              <input class="form-control" placeholder="Search..." type="text" value="" name="searchparameter" style="color:black;">
                            </div>
                          </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- BEGIN DASHBOARD CONTENT -->
        {% block dashboard %} {% endblock %}
        <!-- END DASHBOARD CONTENT -->

        <!-- BEGIN FOOTER -->
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Portfolio</a></li>
                      <li><a href="#">Github</a></li>
                      <li><a href="#">Misc</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        <!-- END FOOTER -->
      </div>
      <!-- END MAIN PANEL -->
    </div>
    <!-- END EXTERIOR WRAPPER -->
  </body>

  <!-- SCRIPTS! -->
  <script src="{{url_for('static', filename='js/jquery.3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/chartist.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-notify.js')}}"></script>
  <script src="{{url_for('static', filename='js/light-bootstrap-dashboard.js')}}"></script>
  <!-- SCRIPTS! -->

</html>
