{% extends "layout.html" %}
{% block content %}
<main class="page contact-us-page">
  <!-- SECTION 1 -->
  <section class="clean-block clean-form dark" style="padding-bottom: 10px;">
    <div class="container">
      <div class="pulse animated block-heading" style="padding-top: 50px;">
        <h2 class="text-info">Vehicle Report</h2>
        <p>Enter a year, make, and model to get a vehicle report. The reports include vehicle information, as well as other information such as recalls and consumer complaints.</p>
      </div>
    </div>
  </section>
  <!-- SECTION 2 -->
  <section class="clean-block clean-form" style="padding-top: 50px;">
    <div class="container">
      <form class="text-center" action="" method="post">
        <!-- YEAR -->
        <div class="form-group">
          {{ form.csrf_token }}
          <label>Year</label>
          {{ form.year (class_="form-control") }}
          <!-- <input autofocus class="form-control" name="year" placeholder="" type="text"> -->
          <!-- <select class="form-control">
            <option value="12" selected>This is item 1</option>
            <option value="13">This is item 2</option>
          </select> -->
        </div>
        <!-- MAKE -->
        <div class="form-group">
          <label>Make</label>
          {{ form.make (class_="form-control") }}
          <!-- <input class="form-control border-input" name="make" placeholder="" type="text"> -->
          <!-- <select class="form-control">
            <option value="12" selected>This is item 1</option>
            <option value="13">This is item 2</option>
          </select> -->
        </div>
        <!-- MODEL -->
        <div class="form-group">
          <label>Model</label>
          <!-- <input class="form-control border-input" name="model" placeholder="" type="text"> -->
          <!-- <select class="form-control">
            <option value="12" selected>This is item 1</option>
            <option value="13">This is item 2</option>
          </select> -->
        </div>
        <!-- SUBMIT -->
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit" value="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>
<script>
  // Define variables for our form selections (by ID)
  let year_select = document.getElementById('year');
  let make_select = document.getElementById('make');

  // Create a function to track changes on our year value
  year_select.onchange = function() {
    // Retrieve value
    year = year_select.value;
    // Use fetch() API to access predefined flask route [similar concept to AJAX]
    fetch('/makes/'+year).then(function(response) {
      // parse response as JSON and return data
      response.json().then(function(data) {
        console.table(data)
        // use string builder to make new HTML objects for the given make
        let makes_HTML = '';
        // Loop over JSON object, the outermost key was set as 'makes'in flask route
        for (let make of data.makes) {
          makes_HTML += '<option value="'+ make.value + '">' + make.label + '</option>';
        }
        // overwrite the old HTML
        make_select.innerHTML = makes_HTML;
      });
    });
  }
</script>
{% endblock content %}
